@font-face {
  font-family: 'CaeciliaHeavy';
  src: url('/fonts/Caecilia-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaeciliaRoman';
  src: url('/fonts/Caecilia-Roman.otf');
  font-weight: bold;
  font-style: normal;
}

@mixin ScalaSansSC {
}

html, body {
  margin: 0;
  padding: 0;
  background: rgb(41,38,69) url(/images/bg_pattern_background.png) repeat top left;
}

#progress {
  height: 5px;
  width: 500px;
  margin: 0 auto;
  background: #595673;
  position: relative;
  top: 0px;
  -webkit-border-radius: 10px;
}

#progress #bar {
  height: 100%;
  background: white;
  position: relative;
  left: 0;
  -webkit-border-radius: 10px;
}

h1 {
  font-family: "CaeciliaHeavy", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-align:center;
  box-shadow:none !important;
  padding: 5px 0;  
  background:transparent !important;
}

.circle {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  box-shadow: 0 0 200px rgb(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, 0.25);
}

.circle span {
  text-align: center;
  width: 100%;
  display: block;
}

.circle span.title {
  height: 50px;
  font-size: 35px;
  color: white;
  font-family: "CaeciliaHeavy", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
}

.circle span.count {
  height: 20px;
  margin-top: 2px;
  font-size: 15px;
  color: gray;
  text-transform: uppercase;
  font-family: "CaeciliaRoman", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#you {
  background: rgb(27,25,44) url(/images/bg_pattern_your.png) repeat top left;
  left: 33%;
}

#global {
  background: rgb(53,49,92) url(/images/bg_pattern_others.png) repeat top left;
  left: 66%;
}
