<html>

  <head>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" /> 
  </head>

  <body>
    <h1>How literary are your friends?</h1>
    <div class="circle" id="you">
      <span class="title">Your friends</span>
      <span class="count">-</span>
    </div>

    <div class="circle" id="global">
      <span class="title">Others' friends</span>
      <span class="count">-</span>
    </div>

    <!-- facebook API -->
    <div id="fb-root"></div>
    <script src="/javascripts/facebook.js"></script>
  </body>
</html>

