<script>
   function facebook_onlogin(){
       document.location.href = "<%= url_for :action=>"fb_connect" %>";
   }
</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({ 
     appId:'209106392449144', cookie:true, 
     status:true, xfbml:true 
  });
</script>
<fb:login-button onlogin="facebook_onlogin();">Login with Facebook</fb:login-button>
