<script>
   function facebook_onlogin(){
       document.location.href = "<%= url_for :action=>"fb_connect" %>";
   }
</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({ 
    appId:'209106392449144', 
    cookie:true, 
    status:true, 
    xfbml:true 
  });
</script>


<h1 class="huge">How literary are your friends?</h1>

<div id="fb-button">
  <fb:login-button onlogin="facebook_onlogin();" perms="friends_interests,friends_likes">Login with Facebook</fb:login-button>
</div>

<div id="gradient"></div>
