<!DOCTYPE html>
<html>
<head>
  <title>LitGraph</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

<div id="footer">
  <span class="title">LitGraph - a book loving hack by Readmill</span>
  <span class="text">The calculation is made by comparing the number of books liked by your friends</span>
</div>
</body>
</html>
